{{> content_top }}

<section class="section">
    {{#with page.head}}
    <h1 class="title">{{title}}</h1>
    <h2 class="subtitle" >{{#if extra.date}}{{date_format "%b %e, %Y" extra.date}}{{/if}}</h2>
    {{/with}}
    <div class="content">
        {{! Since this is HTML, we use the triple-curly }}
        {{{page.body}}}
    </div>
</section>

{{> content_bottom }}
