{{> content_top }}

<section class="section">
    {{#with page.head}}
    <h1 class="title">{{title}}</h1>
    <h2 class="subtitle" >{{#if extra.date}}{{date_format "%Y.%j %R" extra.date}}{{/if}}</h2>
    {{/with}}
    <div class="content"><div class="control">
    <textarea class="textarea is-small" rows="25" readonly>
        {{! Since this is HTML, we use the triple-curly }}
        {{{page.body}}}
    </textarea></div></div>
</section>

{{> content_bottom }}
